body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show {
  opacity: 1;
}

.hide span {
  opacity: 0;
}

.remove {
  opacity: 0;
}

.bars {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.bar {
  background-color: #ccc;
  height: 8px;
}

.bar-contents {
  background-color: green;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition-duration: 2000ms;
  transition-property: transform;
  transition-timing-function: linear;
}

.bar-contents--filled {
  transform: scaleX(1);
}

/* like */
.error-message {
  font-size: 12px;
  margin-top: 8px;
}

.like-button {
  --default-color: #888;
  --active-color: red;

  align-items: center;
  border-style: solid;
  border-radius: 32px;
  border-width: 2px;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  gap: 8px;
  height: 32px;
  padding: 4px 8px;
}

.like-button--default {
  background-color: #fff;
  border-color: var(--default-color);
  color: var(--default-color);
}

.like-button:hover {
  border-color: var(--active-color);
  color: var(--active-color);
}

.like-button--liked,
.like-button--liked:hover {
  background-color: var(--active-color);
  border-color: var(--active-color);
  color: #fff;
}

.like-button-icon {
  display: flex;
}
